beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
Flask==3.1.2
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
letterboxdpy @ git+https://github.com/nmcassa/letterboxdpy.git@52c7f52c804972f5180788535cd8fe3a26a2689d
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
requests==2.32.5
soupsieve==2.8
typing_extensions==4.15.0
urllib3==2.5.0
validators==0.35.0
Werkzeug==3.1.3
