<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>randomboxd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}">
</head>

<body>

    <div id="main-title">
        <h1>randomboxd</h1>
        <h2>a random letterboxd watchlist picker</h2>
        <img id="cachorrinho" src="{{ url_for('static', filename='assets/letterboxd_dog.png') }}" alt="Letterboxd Dog">

        <br>
        <h3>how does it work?</h3>
        <h4>insert your letterboxd username at the input and load your watchlist, then just pick a random movie
            using the "Get a random movie" button :)</h4>
    </div>

    <br>
    <div id="main-container">
        <input type="text" id="username" placeholder="Enter your letterboxd Username">
        <button id="get_user">Load Watchlist</button>
        <button id="get_movie">Get a random movie</button>

        <h1 id="result"></h1>
        <h1 id="resultLink"></h1>
    </div>

    <div id="spinner-container" style="display:none">
        <div id="spinner"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div id="footer">
        <p>made with love by zé gui <3 - 2025</p>
    </div>
</body>

</html>
